<% provide :title, t(".title") %>
<h1><%= t ".head" %></h1>
<p>
  <%= t ".text1" %>
  <%= link_to "http://www.railstutorial.org/" do %>
    <em>
      <%= t ".text2" %>
    </em>
  <% end %>
  <%= t ".text3" %>
  <%= link_to t(".text4"), "http://www.railstutorial.org/book" %><%= t ".text5" %>
  <%= link_to t(".text6"), "http://screencasts.railstutorial.org/" %>
  <%= t ".text7" %>
  <%= link_to t(".text8"), "http://rubyonrails.org/" %>.
  <%= t ".text9" %>
</p>
