<% provide :title, t(".title") %>
<h1><%= t ".head" %></h1>
<p>
  <%= t ".text1" %><a href="http://www.railstutorial.org/"><em>
    <%= t ".text2" %>
  </em></a><%= t ".text3" %>
  <a href="http://www.railstutorial.org/book"><%= t ".text4" %></a><%= t ".text5" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".text6" %></a>
  <%= t ".text7" %>
  <a href="http://rubyonrails.org/"><%= t ".text8" %></a>.
  <%= t ".text9" %>
</p>
