<% provide :title, t(".title") %>
<h1><%= t ".head" %></h1>
<p>
  <%= t ".text1" %>
  <%= link_to t(".text2"), "http://www.railstutorial.org/help" %>.
  <%= t ".text3" %>
  <%= link_to "http://www.railstutorial.org/book" do %>
    <em><%= t ".text4" %></em>
    <%= t ".text5" %>
  <% end %>
  <%= t ".text6" %>
</p>
