<% provide :title, t(".title") %>
<h1><%= t ".head" %></h1>
<p>
  <%= t ".text1" %>
  <a href="http://www.railstutorial.org/help"><%= t ".text2" %></a>.
  <%= t ".text3" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".text4" %></em>
     <%= t ".text5" %></a><%= t ".text6" %>
</p>
