<footer class="footer">
  <small>
    <%= t ".text1" %><%= link_to t(".text2"), "http://www.railstutorial.org/" %>
    <%= t ".text3" %><%= link_to t(".text4"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".text5"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
